<div
  class="container text-uppercase"
  style="margin: 0 auto; width: 100%; height: 100%; object-fit: cover"
>
  <div class="mt-5 container-fluid p-3">
    <ul class="list-inline-fluid" style="display: flex; align-items: center">
      <li class="list-inline-item">
        <p class="font-weight-bold"style="font-size: 30px">FÊNIX TECNOLOGIA</p>
        <p>
          A Fênix Tecnologia foi fundada em 2022 em São Paulo, através de um
          grupo colegas estudantes de Tecnologia em Desenvolvimento de Sistemas,
          visando em inovação de meios especializados em soluções e
          aperfeiçoamentos de ferramentas de tecnologia e acessórios. A Fênix
          Tecnologia surgiu-se para prestar serviços e criação de métodos de
          inovação de aplicativos e ferramentas otimizando tempo e qualidade em
          solução para sua empresa.
        </p>
      </li>
    </ul>
  </div>

  <div
    class="mt-5 container-fluid p-3"
    style="
      border: solid #2c7c84;
      border-top: 5;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
    "
  >
    <ul class="list-inline-fluid" style="display: flex; align-items: center">
      <li class="list-inline-item col-md-4">
        <img
          src="assets/img/alvo.png"
          class="img-fluid"
          alt="..."
          style="width: 50%; height: 50%; object-fit: cover; display: flex"
        />
      </li>
      <li class="list-inline-item col-md-8">
        <p class="font-weight-bold" style="font-size: 30px">Missão</p>
        <p>
          Atuar e desenvolver meios de soluções de TI, eficazes através de
          plataformas de qualidade desempenhando eficiência e tempo de resposta
          para nossos clientes com segurança e confiança na continuidade dos
          seus negócios e métodos
        </p>
      </li>
    </ul>
  </div>

  <div
    class="container-fluid p-3"
    style="
      border: solid #2c7c84;
      border-top: 5;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
    "
  >
    <ul
      class="list-inline-fluid"
      style="display: flex; align-items: center"
    >
      <li class="list-inline-item col-md-8">
        <p class="font-weight-bold" style="font-size: 30px">Visão</p>
        <p>
          Atuar e desenvolver meios de soluções de TI, eficazes através de
          plataformas de qualidade desempenhando eficiência e tempo de resposta
          para nossos clientes com segurança e confiança na continuidade dos
          seus negócios e métodos
        </p>
      </li>
      <li class="list-inline-item col-md-4">
        <img
          src="assets/img/visao.png"
          class="img-fluid"
          alt="..."
          style="width: 50%; height: 50%; object-fit: cover"
        />
      </li>
    </ul>
  </div>

  <div
    class="container-fluid p-3"
    style="
      border: solid #2c7c84;
      border-top: 5;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
    "
  >
    <ul class="list-inline-fluid" style="display: flex; align-items: center">
      <li class="list-inline-item col-md-4">
        <img
          src="assets/img/valor.png"
          class="img-fluid"
          alt="..."
          style="width: 50%; height: 50%; object-fit: cover; display: flex"
        />
      </li>
      <li class="list-inline-item col-md-8">
        <p class="font-weight-bold" style="font-size: 30px">Valores</p>
        <p>
          Atuar e desenvolver meios de soluções de TI, eficazes através de
          plataformas de qualidade desempenhando eficiência e tempo de resposta
          para nossos clientes com segurança e confiança na continuidade dos
          seus negócios e métodos
        </p>
      </li>
    </ul>
  </div>
</div>
