<div
  class="container"
  style="margin: 0 auto; width: 100%; height: 100%; object-fit: cover"
>
  <!--indicador carousel-->
  <div
    id="carouselExampleCaptions"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    style="object-fit: cover"
  >
    <ol class="carousel-indicators my-0" style="height: 20px">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active bg-dark mr-3"
        style="height: 8px; width: 8px; border-radius: 100%"
      ></li>
      <li
        class="bg-dark mr-3"
        style="height: 8px; width: 8px; border-radius: 100%"
        data-target="#carouselExampleCaptions"
        data-slide-to="1"
      ></li>
      <li
        class="bg-dark mr-3"
        style="height: 8px; width: 8px; border-radius: 100%"
        data-target="#carouselExampleCaptions"
        data-slide-to="2"
      ></li>
      <li
        class="bg-dark"
        style="height: 8px; width: 8px; border-radius: 100%"
        data-target="#carouselExampleCaptions"
        data-slide-to="3"
      ></li>
    </ol>
    <!--indicador carousel-->

    <!--imagem carousel-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/carousel1.png" class="img-fluid" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/carousel2.png" class="img-fluid" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/img/carousel3.png" class="img-fluid" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/img/carousel4.png" class="img-fluid" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <!--imagem carousel-->

      <!--botao carousel-->
      <button
        class="carousel-control-prev btn btn-outline-light border-0"
        type="button"
        data-target="#carouselExampleCaptions"
        data-slide="prev"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="color: #000"
          width="30px"
          height="30px"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          />
        </svg>
        <span class="sr-only">Previous</span>
      </button>

      <button
        class="carousel-control-next btn btn-outline-light border-0"
        type="button"
        data-target="#carouselExampleCaptions"
        data-slide="next"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="color: #000"
          width="30px"
          height="30px"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
  <!--botao carousel-->

  <!--corpo site-->
  <div class="mt-3 container-fluid p-3">
    <h4 class="container-fluid text-center text-uppercase col-md-12">
      <i>Quantas vezes você não estava se sentindo bem e preferiu se
      automedicar (erroneamente) do que ir até o hospital, justamente por
      não saber em quanto tempo você seria atendido?</i>
    </h4>
    <ul class="list-inline-fluid" style="display: flex; align-items: center">
      <li class="list-inline-item col-md-6 mt-3">
        <img
          src="assets/img/fila.espera.jpg"
          class="img-fluid"
          alt="..."
          style="width: 100%; height: 300px; object-fit: cover; display: flex"
        />
      </li>
      <li class="list-inline-item col-md-6" style="font-size: 20px">
        <p>
          Pesquisas realizadas pelo IPEA, informam que a demora no tempo de
          espera para ser atendido em hospitais é a reclamação de mais de 35%
          dos pacientes do SUS. Além disso, de acordo com as pesquisas feitas
          pelo nosso grupo (Fênix Tecnologia), o problema não é uma
          exclusividade do SUS.
        </p>
        <p class="text-right">fonte: g1.globo.com</p>
      </li>
    </ul>
  </div>

  <div
    class="container-fluid p-5"
    style="
      border: solid #2c7c84;
      border-top: 5;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
    "
  >
    <ul
      class="list-inline-fluid p-2"
      style="display: flex; align-items: center"
    >
      <li class="list-inline-item" style="font-size: 20px">
        <p>
          <b
            >Como o Quanto Demora? irá disponibilizar o tempo médio de espera
            nos hospitais para os pacientes?</b
          >
          <br />
          Tudo terá início quando o paciente chegar ao hospital e retirar a
          senha, na senha constará data e hora de emissão. Com isso, o tempo de
          espera já estará sendo computado até que o paciente seja atendido pelo
          médico, quando o paciente for atendido, o tempo deixará de ser
          computado e o tempo total de espera da retirada da senha até o
          atendimento médico será armazenado no Banco de Dados do hospital. O
          nosso aplicativo irá acessar essa informação via API, fazer o cálculo
          da média, e disponibilizar o tempo médio aos usuários.
        </p>
      </li>
      <li class="list-inline-item col-md-6">
        <img
          src="assets/img/tempo.medio.jpg"
          class="img-fluid"
          alt="..."
          style="width: 100%; height: 300px; object-fit: cover"
        />
      </li>
    </ul>
  </div>

  <div
    class="mt-2 container-fluid text-uppercase"
    style="
      border: solid #2c7c84;
      border-top: 5;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
    "
  >
    <h3 class="text-center p-3">
      <b
        >O <b style="color: #2c7c84;">Quanto Demora?</b> <br />
        visa ajudar tanto pacientes, quanto hospitais.</b
      >
    </h3>
    <ul class="list-inline-fluid" style="display: flex; align-items: center">
      <li class="list-inline-item col-md-6">
        <div
          class="card border-light mb-6"
          style="max-width: 100%; height: 300px"
        >
          <div class="card-header text-center">Pacientes</div>
          <div class="card-body">
            <p class="card-text">
              • Tenha acesso ao tempo médio de espera para atendimentos em
              Hospitais.<br />
              • Visualize a lista de Hospitais por distância, ou por tempo médio
              de atendimento. <br />
              • Pesquise os Hospitais por nome. <br />
              • Selecione o Hospital de sua preferência e saiba quantos
              pacientes estão aguardando atendimento.<br />
              • Veja o tempo de deslocamento da sua localização atual até o
              Hospital escolhido.
            </p>
          </div>
        </div>
      </li>

      <li class="list-inline-item col-md-6">
        <div
          class="card border-light mb-6"
          style="max-width: 100%; height: 300px"
        >
          <div class="card-header text-center">Hospitais</div>
          <div class="card-body">
            <p class="card-text">
              • Ofereça os serviços do Quanto Demora? como um diferencial aos
              seus clientes.<br />
              • Mostre para as pessoas toda a sua eficiência e transparência.<br />
              • Conquiste a confiança de cada vez mais pessoas.<br />
              • Eficiência + Transparência = Clientes Satisfeitos.<br />
              • Clientes Satisfeitos + Confiança = Novos Clientes.<br />
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!--corpo site-->

  <div
    class="container-fluid"
    style="
      border: solid #2c7c84;
      border-top: 5;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
    "
  >
    <ul
      class="list-inline-fluid p-3"
      style="display: flex; align-items: center"
    >
      <li class="list-inline-item col-md-8 text-center">
        <h3 class="text-center mb-4 text-uppercase">
          Quer saber <b style="color: #2c7c84;">Quanto Demora?</b> <br />
          Baixe o nosso app
        </h3>
      </li>
      <li class="list-inline-item col-md-4 text-center">
        <img
          src="assets/img/qr.code.jpg"
          class="img-fluid"
          alt="..."
          style="width: 50%; height: 50%; object-fit: cover"
        />
      </li>
    </ul>
  </div>
</div>
